#sign-up-btn, #log-in-btn {
    margin-left: 3px;
    margin-right: 3px;
}
nav.navbar {
    margin-bottom: 20px;
}
#search-form {
    margin-left: 15vw;
    width: 45vw;
}
#search-input {
    width: 39vw;
}
#dropdown-update {
    border-width: 0;
}
#update-menu {
    width: 350px;
    color: #05af1b;
}


/* index */
.under-line{
    margin-right: 100px;
}
h4.modal-title{
    color: brown;
}

/* profile */
div.card {
    margin-top: 15px;
    margin-bottom: 15px;
}
#cancel-btn{
    width: 100%;
    color: rgb(240, 153, 23);
    border-color: rgb(240, 153, 23);
}
#cancel-btn:hover{
    background-color: rgb(240, 153, 23);
    color: white;
    border-color: rgb(240, 153, 23);
}
#edit-btn{
    width: 100%;
    color: rgb(240, 27, 144);
    border-color: rgb(240, 27, 144);
}
#edit-btn:hover {
    background-color: rgb(240, 27, 144);
    color: white;
    border-color: rgb(240, 27, 144);
}
#follow-btn{
    color: white;
    width: 100%;
}
#gift-btn{
    color: rgb(55, 199, 235);
    border-color: rgb(55, 199, 235);
    
    width: 100%;
}
#gift-btn:hover {
    background-color: rgb(55, 199, 235);
    color: white;
}

/* story */
#title-header {
    margin-top: 50px;
}
#link-tab {
    margin-top: 25px;
    margin-bottom: 25px;
}
.draft-content, .published-content {
    margin-bottom: 25px;
}
a.nav-link, span.caret {
    color: #000;
}
#write-story-btn, #submit-story-btn, #update-story-btn {
    color: #05af1b;
    background-color: #fff;
    border-color: #05af1b;
}
#write-story-btn:hover {
    color: #05af1b;
    background-color: #fff;
    border-color: #05af1b;
}
#submit-story-btn, #update-story-btn {
    margin-bottom: 20px;
}

#g100-btn:hover {
    background-color: rgb(240, 218, 23);
    color: white;
    border-color: rgb(240, 218, 23);
}
#g100-btn:focus {
    background-color: rgb(240, 218, 23);
    color: white;
    border-color: rgb(240, 218, 23);
}
#g100-btn:active {
    background-color: rgb(240, 218, 23);
    color: white;
    border-color: rgb(240, 218, 23);
}
#g100-btn {
    /* margin: auto;
    display: block; */
    color: rgb(240, 218, 23);
    border-color: rgb(240, 218, 23);
}


#g500-btn:hover {
    background-color: rgb(240, 153, 23);
    color: white;
    border-color: rgb(240, 153, 23);
}
#g500-btn:focus {
    background-color: rgb(240, 153, 23);
    color: white;
    border-color: rgb(240, 153, 23);
}
#g500-btn:active {
    background-color: rgb(240, 153, 23);
    color: white;
    border-color: rgb(240, 153, 23);
}

#g500-btn {
    /* margin: auto;
    display: block; */
    color: rgb(240, 153, 23);
    border-color: rgb(240, 153, 23);
}

#g1000-btn:hover {
    background-color: rgb(240, 92, 23);
    color: white;
    border-color: rgb(240, 92, 23);
}
#g1000-btn:focus {
    background-color: rgb(240, 92, 23);
    color: white;
    border-color: rgb(240, 92, 23);
}
#g1000-btn:active {
    background-color: rgb(240, 92, 23);
    color: white;
    border-color: rgb(240, 92, 23);
}

#g1000-btn {
    /* margin: auto;
    display: block; */
    color: rgb(240, 92, 23);
    border-color: rgb(240, 92, 23);
}#submit-story-btn:hover {
    color: #fff;
    background-color: #05af1b;
}
#update-story-btn:hover {
    color: #fff;
    background-color: #05af1b;
}

